.nav {
    height: 40px;
    display: flex;
    justify-content: left;
    padding: 20px;
    vertical-align: middle;
    border: solid 3px white;
      
}

.footer {
    height: 50px;
    display: flex;
    justify-content: left;
    padding: 20px;
    vertical-align: middle;
    border: solid 3px white;
}